<mat-card>
    <mat-card-content>
        <form class="example-form">
            <h1>Politicas Horario</h1>
            <mat-form-field>
                <mat-label>Empresa</mat-label>
                <mat-select [(ngModel)]="selectedIdCompany" id="company" name="company">
                    <mat-option *ngFor="let company of companies" [value]="company.idCompany">
                        {{company.nameCompany}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Temporada" [(ngModel)]="perfilHorario.phoTemporada" name="temporada">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Tipo Empleado</mat-label>
                <mat-select [(ngModel)]="selectedEmployeeType" name="employeeType">
                    <mat-option *ngFor="let employeeType of employeeTypes" [value]="employeeType.value">
                        {{employeeType.viewValue}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Jornada Semanal</mat-label>
                <mat-select [(ngModel)]="selectedJournal" name="journal">
                    <mat-option *ngFor="let journal of journals" [value]="journal.value">
                        {{journal.viewValue}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <table>
                <tr>
                    <td>
                        <mat-label id="example-radio-group-label-extras">Reconocen Horas Extras</mat-label>
                        <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group" [(ngModel)]="horasExtra" name="extras">
                            <mat-radio-button class="example-radio-button" value="S">Si</mat-radio-button>
                            <mat-radio-button class="example-radio-button" value="N">No</mat-radio-button>
                        </mat-radio-group>
                    </td>
                    <td>
                        <mat-label id="example-radio-group-label-bonos">Pagan Bonos</mat-label>
                        <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group" [(ngModel)]="paganBonos" name="bonos">
                            <mat-radio-button class="example-radio-button" value="S">Si</mat-radio-button>
                            <mat-radio-button class="example-radio-button" value="N">No</mat-radio-button>
                        </mat-radio-group>
                    </td>
                    <td>
                        <mat-label id="example-radio-group-label-otros">Otros Reconocimientos</mat-label>
                        <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group" [(ngModel)]="otrosReconocimientos" name="otros">
                            <mat-radio-button class="example-radio-button" value="S">Si</mat-radio-button>
                            <mat-radio-button class="example-radio-button" value="N">No</mat-radio-button>
                        </mat-radio-group>
                    </td>
                </tr>
            </table>
            <div class="example-button-row">
                <button mat-raised-button color="primary" (click)="createPerfilHorario()">{{labelButtonSuccess}}</button>
                <button mat-raised-button color="warn" (click)="cancelEvent()">{{labelButtonCancel}}</button>
            </div>
            <app-alert></app-alert>
        </form>
    </mat-card-content>
</mat-card>
<div fxLayout="row">
    <div fxFlex.gt-sm="100%">
        <mat-card>
            <table mat-table [dataSource]="data">

                <!-- Id Column -->
                <ng-container matColumnDef="temporada">
                    <th mat-header-cell *matHeaderCellDef> Temporada. </th>
                    <td mat-cell *matCellDef="let element"> {{element.phoTemporada}} </td>
                </ng-container>

                <!-- Nit Column -->
                <ng-container matColumnDef="tipoEmpleado">
                    <th mat-header-cell *matHeaderCellDef> Tipo Empleado </th>
                    <td mat-cell *matCellDef="let element"> {{element.phoTipoEmpleado}} </td>
                </ng-container>

                <!-- Razon Social Column -->
                <ng-container matColumnDef="jornadaSemanal">
                    <th mat-header-cell *matHeaderCellDef> Jornada Semanal </th>
                    <td mat-cell *matCellDef="let element"> {{element.phoJornada}} </td>
                </ng-container>

                <!-- Numero Empleados Column -->
                <ng-container matColumnDef="extras">
                    <th mat-header-cell *matHeaderCellDef> Extras </th>
                    <td mat-cell *matCellDef="let element"> {{element.phoExtras}} </td>
                </ng-container>

                <!-- Tipo Empresa Column -->
                <ng-container matColumnDef="bonos">
                    <th mat-header-cell *matHeaderCellDef> Bonos </th>
                    <td mat-cell *matCellDef="let element"> {{element.phoBonos}} </td>
                </ng-container>

                <!-- Actividad Economica Column -->
                <ng-container matColumnDef="otros">
                    <th mat-header-cell *matHeaderCellDef> Otros </th>
                    <td mat-cell *matCellDef="let element"> {{element.phoOtros}} </td>
                </ng-container>

                <!-- Action Column -->
                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef> </th>
                    <td mat-cell *matCellDef="let element">
                        <mat-chip-list>
                            <mat-chip color="primary" (click)="updateElement(element)" selected>Editar</mat-chip>
                            <mat-chip color="warn" (click)="deleteElement(element)" selected>Borrar</mat-chip>
                        </mat-chip-list>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>


        </mat-card>
    </div>
</div>