<div>
    <form>
        <h1>Crear Empresa</h1>
        <div class="col-md-6">
            <div class="form-group">
                <label>Nit</label>
                <input class="form-control" placeholder="Placeholder">
            </div>
            <div class="form-group">
                <label>Numero de Empleados</label>
                <input class="form-control" placeholder="Placeholder">
            </div>
            <div class="form-group">
                <label>Tipo de Empresa</label>
                <input class="form-control" placeholder="Placeholder">
            </div>
        </div>
    </form>
</div>