<mat-card>
    <mat-card-content>
        <form class="example-form">
            <h1>Contexto Espaciotemporal</h1>
            <mat-card>
                <mat-card-content>
                    <mat-form-field>
                        <mat-label>Empresa</mat-label>
                        <mat-select [(ngModel)]="selectedIdCompany" id="company" name="company" required>
                            <mat-option *ngFor="let company of companies" [value]="company.idCompany">
                                {{company.nameCompany}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </mat-card-content>
            </mat-card>
            <mat-card>
                <mat-card-header>
                    <mat-card-title>Ubicación Geográfica</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <mat-form-field>
                        <input matInput placeholder="Ciudad" [ngModel]="city" name="city">
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput placeholder="Pais" [ngModel]="country" name="country">
                    </mat-form-field>
                </mat-card-content>
            </mat-card>
            <mat-card>
                <mat-card-header>
                    <mat-card-title>Temporadas</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <mat-form-field>
                        <mat-label>Temporadas Selecionadas</mat-label>
                        <mat-select [(ngModel)]="selectedSeasons" [formControl]="seasons" multiple name="season">
                            <mat-option *ngFor="let topping of toppingList" [value]="topping" name="season">{{topping}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </mat-card-content>
            </mat-card>
            <mat-card>
                <mat-card-header>
                    <mat-card-title>Clima</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <section class="checkbox-section">
                        <mat-checkbox class="checkbox-margin" [(ngModel)]="calido" name="calido">Cálido</mat-checkbox>
                        <mat-checkbox class="checkbox-margin" [(ngModel)]="templado" name="templado">Templado</mat-checkbox>
                        <mat-checkbox class="checkbox-margin" [(ngModel)]="frio" name="frio">Frio</mat-checkbox>
                        <mat-checkbox class="checkbox-margin" [(ngModel)]="paramo" name="paramo">Páramo</mat-checkbox>
                    </section>
                </mat-card-content>
            </mat-card>
            <div class="example-button-row">
                <button mat-raised-button color="primary" (click)="createTemporalContext()">Crear</button>
                <button mat-raised-button color="warn" (click)="cancelEvent()">Siguiente</button>
            </div>
            <app-alert></app-alert>
        </form>
    </mat-card-content>
</mat-card>