<mat-card>
    <mat-card-content>
        <form class="example-form">
            <h1>Carga de Procesos PCF</h1>
            <mat-form-field>
                <mat-label>Tipo de Industria</mat-label>
                <mat-select [(ngModel)]="selectedIdIndustria" name="dataType">
                    <mat-option *ngFor="let industria of industrias" [value]="industria.idInd">
                        {{industria.nameIndustry}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <table>
                <tr>
                    <td>
                        <input type="file" #fileImportInput name="File Upload" id="txtFileUpload" class="btn btn-primary" (change)="fileChangeListener($event)" accept=".csv" value={{selectedImageFile}}/>
                    </td>
                    <td style="padding: 5px;">
                        <input type="button" name="Reset" id="txtFileReset" class="btn btn-primary" (click)="fileReset()" value="Reset" />
                    </td>
                </tr>
            </table>
        </form>
        <app-alert></app-alert>
    </mat-card-content>
</mat-card>