<button mat-button>Home</button>

<button [matMenuTriggerFor]="empresa" mat-button> Empresa</button>
<mat-menu #empresa="matMenu" class="mymegamenu">
    <button mat-menu-item routerLink="empresa"> Crear Empresa </button>
    <button mat-menu-item routerLink="list-empresa"> Listado de Empresa </button>
    <button mat-menu-item routerLink="crear-perfil"> Crear Perfil Empresa</button>
</mat-menu>

<button mat-button [matMenuTriggerFor]="contexto">Contexto</button>
<mat-menu #contexto="matMenu">
    <button mat-menu-item routerLink="contexto-temporal">Espacio Temporal</button>
    <button mat-menu-item routerLink="contexto-regulatorio">Regulatorio</button>
    <button mat-menu-item routerLink="contexto-social">Social</button>
    <button mat-menu-item routerLink="contexto-estrategia">Estrategia</button>
</mat-menu>

<button mat-button [matMenuTriggerFor]="proceso">Proceso</button>
<mat-menu #proceso="matMenu">
    <button mat-menu-item routerLink="cargar-proceso">Cargar Proceso Base</button>
    <button mat-menu-item routerLink="consultar-proceso">Consultar Proceso Base</button>
</mat-menu>

<button mat-button [matMenuTriggerFor]="adaptacion">Adaptacion</button>
<mat-menu #adaptacion="matMenu">
    <button mat-menu-item routerLink="iniciar-proceso">Iniciar Proceso</button>
</mat-menu>

<button mat-button>Configuración</button>
<!--mat-menu #configuracion="matMenu">
    <button mat-menu-item>Item 1</button>
    <button mat-menu-item>Item 2</button>
</mat-menu-->