<div fxLayout="row">
    <div fxFlex.gt-sm="100%" >
        <mat-card>
            <mat-card-content class="p-b-0 m-b-0">
              <mat-card-title>Listado de Empresas</mat-card-title>
              <mat-card-subtitle>Empresas Creadas</mat-card-subtitle>
            </mat-card-content>   
                <mat-list>
                <mat-card-content class="p-t-0">    
                  <h3 mat-subheader>Empresas</h3>
                  <mat-list-item *ngFor="let folder of folders">
                    
                    <h4 mat-line>{{folder.name}}</h4>
                    <p mat-line> {{folder.updated | date}} </p>
                  </mat-list-item>
                </mat-card-content>   
                   
                  <mat-divider></mat-divider>
                    
                </mat-list>    
                  
        </mat-card>
    </div>
</div>