<mat-card>
    <mat-card-content>
        <form class="example-form">
            <h1>Metodos de Pago</h1>
            <mat-form-field>
                <mat-label>Empresa</mat-label>
                <mat-select [(ngModel)]="selectedIdCompany" name="company">
                    <mat-option *ngFor="let company of companies" [value]="company.idCompany">
                        {{company.nameCompany}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Destinatario de Pago" [(ngModel)]="payMethod.pmpDestinoPago" name="pmpDestinoPago">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Medio de Pago</mat-label>
                <mat-select [(ngModel)]="selectedPayMethod" name="payMethod">
                    <mat-option *ngFor="let payMethod of payMethods" [value]="payMethod.value">
                        {{payMethod.viewValue}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <div class="example-button-row">
                <button mat-raised-button color="primary" (click)="createPayMethod()">Aceptar</button>
                <button mat-raised-button color="warn" routerLink="/citrino/estrategia">Siguiente</button>
            </div>
            <app-alert></app-alert>
        </form>
    </mat-card-content>
</mat-card>
<div fxLayout="row ">
    <div fxFlex.gt-sm="100% ">
        <mat-card>
            <table mat-table [dataSource]="data ">

                <!-- Id Column -->
                <ng-container matColumnDef="destino">
                    <th mat-header-cell *matHeaderCellDef> Destino Pago. </th>
                    <td mat-cell *matCellDef="let element "> {{element.idCompany}} </td>
                </ng-container>

                <!-- Nit Column -->
                <ng-container matColumnDef="medioPago">
                    <th mat-header-cell *matHeaderCellDef> Medio PAgo </th>
                    <td mat-cell *matCellDef="let element "> {{element.nitCompany}} </td>
                </ng-container>

                <!-- Action Column -->
                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef> </th>
                    <td mat-cell *matCellDef="let element ">
                        <mat-chip-list>
                            <mat-chip color="primary " (click)="updateCompany(element) " selected>Editar</mat-chip>
                            <mat-chip color="warn " (click)="deleteCompany(element) " selected>Borrar</mat-chip>
                        </mat-chip-list>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns "></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns; "></tr>
            </table>


        </mat-card>
    </div>
</div>